<template>
    <div>
      <strong>{{ count }}</strong>
    </div>
</template>

<script>
    export default {
      data: function() {
        return {
        count: 0,
        }
      },

      methods : {
        updateCount: function () {
          var self = this;
          $.get('/api/cars/count', function(response){
            self.count = response.data;
          });
          setTimeout(function(){ self.updateCount(); }, 10000);
        }
      },

      created: function() {
        this.updateCount();
      }

    }
</script>
