
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Font Awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

html, body {
  height: 100%;
}

footer {
  position: relative;
  bottom: 0;
}

.logo-small{
  max-width: 2em;
  max-height: 1em;
}

.logo-normal{
  max-width: 5em;
  max-height: 3em;
}

.btn {
  margin-top: 4px;
  margin-bottom: 4px;
}

.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.big-title {
  color: black;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-shadow: 1px 1px 2px grey;
}

#cars-jumbotron{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Bugatti_Detail.jpg/1024px-Bugatti_Detail.jpg);
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Bugatti_Detail.jpg/1024px-Bugatti_Detail.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    * {
      font-weight: bold;
      color: white;
      text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}

#realestate-jumbotron {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Cairo_at_night_..jpg/1280px-Cairo_at_night_..jpg);
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Cairo_at_night_..jpg/1280px-Cairo_at_night_..jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    * {
      font-weight: bold;
      color: white;
      text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}

.jumbotron {
  border-radius: 0;
  background-color: white;
  box-shadow: 1px 1px 2px grey;
}

.jumbotron-title h2 {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-shadow: 1px 1px 2px grey;
  color: black;
}


.jumbotron-clickable:hover {
  background-color: rgb(200, 200, 255);
  box-shadow: 2px 2px 3px black;
}

.panel {
  background-color: white;
  padding: 0.5em;
  border-radius: 0px;
  box-shadow: 1px 1px 2px grey;
}

.post {
  border-radius: 0px;
  padding: 0.5em;
  margin: 0px;
  box-shadow: 1px 1px 2px grey;
  background-color: white;
}

.post:hover {
  border: 1px solid lightgrey;
  border-left: 3px solid orange;
  box-shadow: 2px 2px 3px grey;
  z-index: 9999;
}

.pagination-container {
  text-align: center;
}

.seperator {
  height:0px;
  margin:1em;
  border-bottom:1px solid darkgrey;
}

.comment {
  border-radius: 0px;
  margin: 0px;
  box-shadow: 1px 1px 2px grey;
  padding: 0.5em;
  background-color: ghostwhite;
}

.sidebar {
  background-color: white;
  height: 100%;
  box-shadow: 1px 1px 2px grey;
}

.navbar {
  box-shadow: 1px 1px 2px grey;
}
